body {
    justify-content: center;
    align-items: center;
    gap: var(--form-title-margin);
}

.login-txt {
    font-weight: var(--fw-medium);
    font-size: var(--fs-xl);
    color: var(--color-text-primary);
    margin-bottom: var(--fs-lg);
}

.login-container {
    text-align: center;
    min-width: 55.0rem;
    min-height: 29.2rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 23.8rem;
    height: 7.4rem;
}

/* 로그인 박스 */
.login-box {
    border: 1px solid var(--color-border-primary);
    border-radius: var(--radius-lg);
    padding: var(--form-box-padding);
    background-color: var(--color-bg-primary);
}

/* 입력 필드 */
.input-group {
    margin-bottom: var(--form-input-gap);
}

/* input-group 다음에 오는 error-txt가 보일 때 (display: block), 
   input-group의 아래 여백이 0 */
.input-group:has(+ .error-txt[style*="display: block"]) {
    margin-bottom: 0;
}

.input-group input {
    width: 100%;
    min-height: 6.0rem;
    border: none;
    border-bottom: 1px solid var(--color-border-primary);

    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
    color: var(--color-text-muted);
}

.error-txt {
    display: none; 
    text-align: left;
    margin: var(--fs-xl) 0;
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
    color: var(--color-error); 
}

/* 버튼 */
.login-btn {
    width: 100%;
    padding: var(--fs-lg);
    border-radius: var(--radius-lg); 
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
    color: var(--color-text-inverse);
}

/* 하단 링크 */
.find-links {
    margin-top: var(--radius-lg);
}

.find-links a {
    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
    color: var(--color-text-secondary);
}

.divider {
    margin: 0 var(--space-xs);
    color: var(--color-text-secondary);
}
