.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--footer-top-margin);
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--footer-link-gap);

    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text-primary);
}

.footer-links a.link-bold {
    font-weight: var(--fw-bold);
    color: var(--color-text-primary);
}

.footer-links li:hover,
.footer-links li:active {
    font-weight: var(--fw-bold);
}

.sns-links {
    display: flex;
    flex-direction: row;
    gap: var(--footer-link-gap);
}

.row-divider {
    width: 100%;
    height: 0.1rem;
    margin-top: var(--footer-top-margin);
    margin-bottom: var(--footer-divider-margin); 
    background-color: var(--color-border-primary); 
    display: block; 
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: var(--footer-info-gap);

    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text-muted);
}

.company-name {
    font-weight: var(--fw-medium);
}