.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.1rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;

    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text-base);
}

.footer-links li:hover,
.footer-links li:active {
    font-weight: var(--fw-bold);
}

.sns-links {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
}

.row-divider {
    width: 100%;
    height: 0.1rem;
    margin-bottom: 3.0rem;
    background-color: var(--color-bg-border);
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;

    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    color: var(--color-text-muted);
}

.company-name {
    font-weight: var(--fw-medium);
}