/* 모달 전체 배경 (어두운 부분) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-bg-dim);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* GNB보다 위에 오도록 설정 */
}

/* 모달 흰색 박스 */
.modal-content {
    position: relative;
    text-align: center;
    box-sizing: border-box;

    width: 36.0rem;
    max-height: 20.0rem;
    padding: 5.0rem 4.0rem 7.5rem;

    background-color: var(--color-bg-base);
    border: 1px solid var(--color-bg-secondary);
}

.btn-close-x {
    position: absolute;
    top: var(--radius-md);
    right: var(--radius-md);
}

.btn-close-x-icon {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
}

.modal-text {
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
    line-height: 1.5;
    color: var(--color-text-base);
    margin-bottom: var(--radius-lg);
}

.modal-btns {
    display: flex;
    justify-content: center;
    gap: var(--icon-gap-md);
}

/* 버튼 공통 스타일 */
.modal-btns button {
    width: 10.0rem;
    height: 4.0rem;
    border-radius: var(--radius-sm);

    font-family: var(--font-base);
    font-size: var(--fs-sm); 
    font-weight: var(--fw-medium);
    
    cursor: pointer;
}

/* 아니오 버튼 */
.btn-no {
    background-color: var(--color-bg-base);
    border: 2px solid var(--color-bg-secondary);
    color: var(--color-text-muted);
}

.btn-no:hover {
    border: 2px solid var(--color-text-muted);
    color: var(--color-text-base);
}

/* 예 버튼 */
.btn-yes {
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
}

.btn-yes:hover {
    background-color: var(--color-primary-hover);
}
