/* 모달 전체 배경 (어두운 부분) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-bg-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal); /* GNB보다 위에 오도록 설정 */
}

/* 모달 흰색 박스 */
.modal-content {
    position: relative;
    text-align: center;
    box-sizing: border-box;

    width: var(--modal-width);
    max-height: var(--modal-max-height);
    padding: var(--modal-padding);

    background-color: var(--color-bg-primary); 
    border: 1px solid var(--color-border-light);
    border-radius: var(--radius-md);
}

.btn-close-x {
    position: absolute;
    top: var(--radius-md);
    right: var(--radius-md);
}

.btn-close-x-icon {
    width: var(--icon-md);
    height: var(--icon-md);
}

.modal-text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
    line-height: 1.5;
    color: var(--color-text-primary);
    margin-bottom: var(--radius-lg);
}

.modal-btns {
    display: flex;
    justify-content: center;
    gap: var(--icon-gap-md);
}

/* 버튼 공통 스타일 */
.modal-btns button {
    width: var(--modal-btn-width);
    height: 4.0rem;
    border-radius: var(--radius-sm);

    font-size: var(--fs-sm); 
    font-weight: var(--fw-medium);
    
    transition: all var(--transition-base);
}

/* 아니오 버튼 */
.btn-no {
    background-color: var(--color-bg-primary);
    border: 2px solid var(--color-border-light);
    color: var(--color-text-muted);
}

.btn-no:hover {
    border: 2px solid var(--color-text-muted);
    color: var(--color-text-primary);
}

/* 예 버튼 */
.btn-yes {
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
}

.btn-yes:hover {
    background-color: var(--color-primary-hover);
}
